
/* #c1{
    background-color:red;
    height:50px;
    width:50px;
    border-radius: 50%;
    display:inline-block;
    margin:10px;
}
#c2{
    background-color: blue;
    height:50px;
    width:50px;
    border-radius: 50%;
    display:inline-block;
    margin:10px;
}
#c3{
    background-color: green;
    height:50px;
    width:50px;
    border-radius: 50%;
    display:inline-block;
    margin:10px;
}
#s1{
    height:50px;
    width: 50px;
    background-color: green;
    display: inline-block;
    margin:10px;
}
#s2{
    height:50px;
    width: 50px;
    background-color: blue;
    display: inline-block;
    margin:10px;
}
#s3{
    height:50px;
    width: 50px;
    background-color: red;
    display: inline-block;
    margin:10px;
} */